@model BookMeetingRoom.Models.RoomTab

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RoomTab</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RoomName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoomLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomLevel)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RoomNo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
